
body{
    background-color: #9DBEBB;
    height: 100vh;
    display: flex;
    
    
    justify-content: center;

}

.hero{
    margin: 50px;
    padding: 60px;
    display: flex;
    align-items: center;
   
    width: 800px;
    height: 400px ;
    background: linear-gradient(
        to right,
        #BE0909 0%,
        #BE0909 70%,
        #FFB039 30%
    );
    
    
}

.name{
    width: 150px;
}

.label{
    font-family: "Roboto", sans-serif;
    color: #fdffff;
}

.label:hover{
    color: #468189;
}

.container{

   width: 800px;
   height: 400px ;

    display: flex;

    align-items: center;
    
    

}

.input-field{
    border: none;
    border-bottom: 1px solid #9DBEBB;
    outline: none;
    background:transparent ;
    font-family: "Roboto", sans-serif;
    

}

.input-field:hover{
    background-color: white;
}


button{
    background-color: #468189;
    color: #ffffff;
    border: none;
    border-radius: 40px;
    width: 202px;
    height: 48px;
    margin-left: 164px;
}

button:hover{
    background-color: #FFB039;
}

img{


    width: 570px;
    padding-top: 90px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 30px;

}